<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmpt276project">

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/MainMenu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".ui.TakeBreathActivity"
            android:parentActivityName=".ui.MainActivity"
            android:label="@string/TakeBreath"
            />


        <activity
            android:name=".ui.EditTaskActivity"
            android:label="@string/EditTask"
            android:parentActivityName=".ui.WhoseTurnActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.EditChildActivity"
            android:parentActivityName=".ui.ChildListActivity" />
        <activity
            android:name=".ui.AddChildActivity"
            android:parentActivityName=".ui.ChildListActivity" />
        <activity
            android:name=".ui.AddTaskActivity"
            android:label="@string/AddTask"
            android:parentActivityName=".ui.WhoseTurnActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HelpPageActivity"
            android:label="@string/HelpPage"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.WhoseTurnActivity"
            android:label="@string/WhoseTurn"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TimeoutTimerActivity"
            android:exported="true"
            android:label="@string/TimeoutTimer"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".ui.FlipCoinHistoryActivity"
            android:label="@string/title_activity_flip_coin_history"
            android:parentActivityName=".ui.FlipCoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.FlipCoinActivity"
            android:label="@string/title_activity_flip_coin"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ChildListActivity"
            android:label="@string/ChildrenActivityName"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/MainMenu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".model.AlarmNotificationService" />
    </application>

</manifest>